# This is a basic gitconfig template that includes some bare minimums for
# interacting with git in a workspace.  The content between <Angle Brackets>
# in this file must be replaced with values appropriate to you.  This can 
# Be done manually or with the following series of commands run from the current
# folder:
#
#  $ HOME=$(pwd) git config --global user.name "Bits the Dog"
#  $ HOME=$(pwd) git config --global user.email "bits@datadoghq.com"
#  $ HOME=$(pwd) git config --global user.signingkey "$(git config --global user.signingkey)"

[user]
        # The name you want to appear as the author of your commits
        name = Nicholas Muesch
	# The e-mail address that is associated to the author of your commits
        email = nicholas.muesch@datadoghq.com
        # seen on your laptop by issuing `git config --global user.signingkey`
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILhVVfWQuyaG4eKl2sJSfzT2SRcj+4ReprI0Uc1aq5HT nicholas.muesch+git-commit-signing@datadoghq.com
[alias]
    co = checkout
    last = log -1 HEAD
    br = branch
    ci = commit
    st = status
    co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
    nudge = !sh -c `git commit --allow-empty -m \"Nudge CI\" && git push origin HEAD` -
    # FZF checkout branch
    fco = "!f() { git branch --format='%(refname:short)' | fzf --height 40% --layout reverse --border --query=\"$1\" --select-1 | xargs git switch; }; f"
    # alias to check out a forked pr - https://github.community/t/checkout-a-branch-from-a-fork/276/2
    co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
    # alias to checkout the default branch of a repo
    cod = !git co $(git remote show origin | sed -n '/HEAD branch/s/.*: //p')
    codu = !git co $(git remote show origin | sed -n '/HEAD branch/s/.*: //p') && git pull origin $(git remote show origin | sed -n '/HEAD branch/s/.*: //p')
    undo = !git reset --soft HEAD~
[commit]
        gpgsign = true
[gpg]
        format = ssh


# This is a url rewrite that helps [go and maybe rust] tooling that downloads libraries from our private repos
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
